</script>
<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div id="logo">
      <span id="first-word">Cards</span>
      <span id="second-word"> for</span>
      <span id="third-word">Humanity</span>
    </div>
    <div id='abandon-game-button' ng-click="abandonGame()">
      Abandon Game
    </div>
    <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good"
        data-related="CFH_App">Tweet</a>
      <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </span>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
  <div id="invite-players-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Invite Players</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="search-box">
            <div class="row">
              <p ng-show="">{{notFound}}</p>
              <div class="col-md-8">
                <input ng-model="username" placeholder="Player's Username">
              </div>
              <div class="col-md-4">
                <a class="btn btn-responsive btn-block btn-primary" ng-click="searchUser()" id="name">Search</a>
              </div>
            </div>
            <div ng-controller="GameController" id="searchControl">
              <div class="row">
                <div class="col-md-12">
                  <p>{{searchResult}}</p>
                </div>
              </div>
              <div class="row invite-btn-row">
                <div class="col-md-12">
                  <button class="btn btn-cfh-green btn-block" ng-click="sendInvite(email)" data-dismiss="modal">invite</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Game Modal -->
  <div class="modal fade" id="startGameModal" tabindex="-1" role="dialog" aria-labelledby="startGameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="startGameModalLabel">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure that you are ready to start the game?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Back</button>
          <button type="button" class="btn btn-primary" ng-click="confirmStartGame()" data-dismiss="modal">Yes, Start</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Incomplete Players notification -->
  <div class="modal fade" id="incompletePlayersModal" tabindex="-1" role="dialog" aria-labelledby="incompletePlayersModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="incompletePlayersModalLabel">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Not enough players, return and invite more players
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
</div>
