</script>
<div id="app-container" ng-controller="GameController">
  <nav class="navbar bg-not-sticky-navbar navbar-dark fixed-top custom-navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/andela/baby-face-cfh/gh-pages/card222.png" class="show-is-sticky" width="30"
          height="30" alt="logo"> Cards For Humanity
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li>
            <button class="hovered btn btn-danger" ng-click="abandonGame()">Abandon Game</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="container-fluid">
    <div class="row mt-100 p-10">
      <div class="col-lg-3">
        <div id="menu-timeremaining-container">
          <div id="menu-container">
            <!-- <span id="menu-button">Menu</span> -->
          </div>
          <div id="timer-container" class="lcd-bg text-center">
            <timer></timer>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="question-container-outer">
          <question></question>
        </div>
      </div>
    </div>
  </section>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <!-- <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div> -->
      <!-- <div id="question-container-outer">
        <question></question>
      </div> -->
    </div>
    <answers></answers>
  </div>
  <div id="invite-players-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Invite Players</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="search-box">
              <div class="row">
                <p ng-show = "">{{notFound}}</p>
                <div class="col-md-8">
                    <input ng-model="username"  placeholder="Player's Username">
                </div>
                <div class="col-md-4">
                    <a class="btn btn-responsive btn-block btn-primary" ng-click="searchUser()" id="name">Search</a>
                </div>
              </div>
              <div ng-controller="GameController" id ="searchControl">
                <div class="row" >
                  <div class="col-md-12">
                      <p>{{searchResult}}</p>
                  </div>
                </div>
                <div class="row invite-btn-row">
                    <div class="col-md-12">
                        <button class="btn btn-cfh-green btn-block"  ng-click="sendInvite(email)" data-dismiss="modal">invite</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
</div>

