$white-color: #fff;
$blue-color: #305d93;
$red-color: red;
$chat-body-color: #F3F3F3;
$dotted-line-color: #B3A9A9;
$chat-footer-color: #B3A9A9;
.chat-panel {
    width: 300px;
    position: fixed;
    right: 50px;
    z-index: 2000;
    .chat-panel-header {
        background-color: $blue-color;
        p {
            color: $white-color;
            margin: 0px;
            padding: 10px 0px;
        }
        p:hover {
            color: $white-color;
            cursor: pointer;
        }
        .left-section {
            p {
                i {
                    margin-right: 10px;
                }
            }
        }
        .right-section {
            text-align: right;
            i {
                color: $white-color;
                font-size: 15px;
                padding: 12px 3px;
            }
            i:hover {
                color: $white-color;
            }
        }
    }
    .chat-panel-header:hover {
        cursor: pointer;
    }
    .chat-panel-border {
        // border:1px solid $blue-color;
        margin: 0px;
    }
}

.is-closed {
    bottom: -350px;
    transition: 1s;
}

.is-open {
    bottom: 0px;
    transition: 1s;
}

.chat-panel-body {
    padding: 0px;
    margin: 0px;
    background-color: $chat-body-color;
    height: 300px;
}

.chat-messages {
    overflow-y: scroll;
    height: 300px;
    ul {
        padding: 0px;
        li {
            list-style: none;
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 5px;
            margin-left: 5px;
            padding-bottom: 5px;
            border-bottom: 1px dotted $dotted-line-color;
            position: relative;
            img {
                width: 30px;
                height: 30px;
            }
            .chat-body {
                margin-left: 40px;
                .fa-clock-o {
                    margin-right: 5px;
                }
                .player-name {
                    font-size: 14px;
                }
                .player-message {
                    font-size: 12px;
                }
            }
        }
    }
}

.chat-panel-footer {
    background-color: $chat-footer-color; // border-top: 1px solid $chat-footer-color;
    padding: 0;
}

.message-bar {
    // background: $white-color;
    height: 40px;
    #emoji {
        background: transparent;
        width: 50%; // margin-left:-15px;
        // padding:10px 0px;
        height: 30px;
        border: none !important;
    }
    .message-bar-inner {
        // background: rgba(48, 94, 147, 0.616);
        width: 87%;
        height: 30px;
        padding: 0; // padding-left: 1rem;
        // border-radius: 3rem;
        margin: 0;
    }
    a {
        i {
            background-color: $blue-color;
            color: $white-color;
            width: 30px;
						height: 30px;
						margin-top: 2px;
            padding-top: 7px;
            padding-right: 2px;
            border-radius: 50%;
            text-align: center;
        }
    }
}
$red-color: #ff0000;
$chat-body-color: #f3f3f3;
$dotted-line-color: #b3a9a9;
$chat-footer-color: #eeeeee;

.chat-panel {
  position: fixed;
  right: 50px;
  width: 300px;
  z-index: 2000;

  .chat-panel-header:hover {
    cursor: pointer;
  }

  .chat-panel-border {
    border: 1px solid $blue-color;
    margin: 0;
  }
}

.chat-panel-header {
  background-color: $blue-color;

  p {
    color: $white-color;
    margin: 0;
    padding: 10px 0;
  }

  p:hover {
    color: $white-color;
    cursor: pointer;
  }
}

.left-section {
  i {
    margin-right: 10px;
  }
}

.right-section {
  text-align: right;

  i {
    color: $white-color;
    font-size: 15px;
    padding: 12px 3px;
  }

  i:hover {
    color: $white-color;
  }
}

.is-closed {
  bottom: -350px;
  transition: 1s;
}

.is-open {
  bottom: 0;
  transition: 1s;
}

.chat-panel-body {
  background-color: $chat-body-color;
  height: 300px;
  margin: 0;
  padding: 0;
}

.chat-messages {
  height: 300px;
  overflow-y: scroll;

  ul {
    padding: 0;
  }
}

.chat-list {
  border-bottom: 1px dotted $dotted-line-color;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  position: relative;

  img {
    height: 30px;
    width: 30px;
  }
}

.chat-body {
  margin-left: 40px;

  .fa-clock-o {
    margin-right: 5px;
  }

  .player-name {
    font-size: 14px;
  }

  .player-message {
    font-size: 12px;
  }
}

.chat-panel-footer {
  background-color: $chat-footer-color;
  border-top: 1px solid $chat-footer-color;
}

.message-bar {
  input {
    border: 1px solid $white-color;
    margin-left: -15px;
    padding: 10px;
    width: 90%;
  }

  i {
    background-color: $blue-color;
    border-radius: 50%;
    color: $white-color;
    height: 30px;
    padding: 7px 0;
    text-align: center;
    width: 30px;
  }
}
